BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "Am[0]" SITE "38" ;
LOCATE COMP "Am[1]" SITE "39" ;
LOCATE COMP "Am[2]" SITE "40" ;
LOCATE COMP "Am[3]" SITE "41" ;
LOCATE COMP "Am[4]" SITE "42" ;
LOCATE COMP "Am[5]" SITE "43" ;
LOCATE COMP "Am[6]" SITE "44" ;
LOCATE COMP "Am[7]" SITE "45" ;
LOCATE COMP "Bm[0]" SITE "52" ;
LOCATE COMP "Bm[1]" SITE "54" ;
LOCATE COMP "Bm[2]" SITE "55" ;
LOCATE COMP "Bm[3]" SITE "56" ;
LOCATE COMP "Bm[4]" SITE "57" ;
LOCATE COMP "Bm[5]" SITE "58" ;
LOCATE COMP "Bm[6]" SITE "59" ;
LOCATE COMP "Bm[7]" SITE "60" ;
LOCATE COMP "Sm[0]" SITE "65" ;
LOCATE COMP "Sm[1]" SITE "62" ;
LOCATE COMP "Sm[2]" SITE "61" ;
LOCATE COMP "Ym[0]" SITE "35" ;
LOCATE COMP "Ym[1]" SITE "34" ;
LOCATE COMP "Ym[2]" SITE "33" ;
LOCATE COMP "Ym[3]" SITE "32" ;
LOCATE COMP "Ym[4]" SITE "28" ;
LOCATE COMP "Ym[5]" SITE "27" ;
LOCATE COMP "Ym[6]" SITE "26" ;
LOCATE COMP "Ym[7]" SITE "25" ;
