BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "Ami[0]" SITE "41" ;
LOCATE COMP "Ami[1]" SITE "40" ;
LOCATE COMP "Ami[2]" SITE "39" ;
LOCATE COMP "Ami[3]" SITE "38" ;
LOCATE COMP "Bmi[0]" SITE "56" ;
LOCATE COMP "Bmi[1]" SITE "55" ;
LOCATE COMP "Bmi[2]" SITE "54" ;
LOCATE COMP "Bmi[3]" SITE "52" ;
LOCATE COMP "Rmo[0]" SITE "25" ;
LOCATE COMP "Rmo[1]" SITE "26" ;
LOCATE COMP "Rmo[2]" SITE "27" ;
LOCATE COMP "Rmo[3]" SITE "28" ;
LOCATE COMP "Rmo[4]" SITE "32" ;
LOCATE COMP "Rmo[5]" SITE "33" ;
LOCATE COMP "Rmo[6]" SITE "34" ;
LOCATE COMP "Rmo[7]" SITE "35" ;
