BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "Aa[0]" SITE "109" ;
LOCATE COMP "Aa[1]" SITE "111" ;
LOCATE COMP "Aa[2]" SITE "113" ;
LOCATE COMP "Aa[3]" SITE "115" ;
LOCATE COMP "Aa[4]" SITE "119" ;
LOCATE COMP "Aa[5]" SITE "121" ;
LOCATE COMP "Aa[6]" SITE "125" ;
LOCATE COMP "Aa[7]" SITE "127" ;
LOCATE COMP "Ba[0]" SITE "110" ;
LOCATE COMP "Ba[1]" SITE "112" ;
LOCATE COMP "Ba[2]" SITE "114" ;
LOCATE COMP "Ba[3]" SITE "117" ;
LOCATE COMP "Ba[4]" SITE "120" ;
LOCATE COMP "Ba[5]" SITE "122" ;
LOCATE COMP "Ba[6]" SITE "126" ;
LOCATE COMP "Ba[7]" SITE "128" ;
LOCATE COMP "Ya[0]" SITE "69" ;
LOCATE COMP "Ya[1]" SITE "68" ;
LOCATE COMP "Ya[2]" SITE "62" ;
LOCATE COMP "Ya[3]" SITE "61" ;
LOCATE COMP "Ya[4]" SITE "58" ;
LOCATE COMP "Ya[5]" SITE "57" ;
LOCATE COMP "Ya[6]" SITE "54" ;
LOCATE COMP "Ya[7]" SITE "52" ;
